header {
 display: block;
 background-color: #8a0f27;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.logo {
  font-family: 'Marck Script', cursive;
  color: white;
  font-weight: 400;
  text-align: center;
  margin-top: 1%;
}

.logo2 {
  font-family: 'Marck Script', cursive;
  color: white;
  font-weight: 400;
  text-align: center;
  margin-top: 1%;
}

.phone-n-time {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 650;
  color: white;
  margin-top: 4%;
  margin-bottom: 2%;
}
.phone-n-time1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 650;
  color: white;
  margin-top: 0%;
  margin-bottom: 2%;
}

.promophoto {
  padding: 3% 11%; 
}


button {
  color: #8a0f27;
  padding: 1% 3%;
  border-color: #ffffff;
  border-radius: 30px;
  background: #ffffff;
  outline: none;
  position: center;
  transition: .3s linear;
  font-family: 'Montserrat', sans-serif;
  font-weight: 750;
  font-size: 15px;
} 
button:hover { 
  background: #8a0f27;
  color: #ffffff; 
  border-color: #8a0f27;
}

.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
}

.overlay:target {
  display: block;
}

.popup {
  right: 0;
  left: 50%;
  font-size: 25px;
  z-index: 20;
  margin: 0;
  width: 85%;
  min-width: 900px;
  max-width: 1000px;
  position: fixed;
  padding: 15px;
  border: 1px solid #8a0f27;
  background: #fefefe;
  border-radius: 4px;
  font: 14px/18px 'Montserrat', sans-serif;
  box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
  transform: translate(-50%, -500%);
  transition: transform 0.6s ease-out;
  color: #8a0f27;
}
.overlay:target+.popup {
  transform: translate(-50%, 0);
  top: 1%;
}

h1 {
  font-family: 'Montserrat' sans-serif;
  color: #8a0f27;
  font-weight: 700;
  font-size: 35px;
}

.okno {
  padding: 16px;
}

button.popupjoin {
  color: #ffffff;
  padding: 5% 10%;
  border-color: #455e9e;
  border-radius: 30px;
  background: #455e9e;
  outline: none;
  position: relative;
  transition: .3s linear;
  font-family: 'Montserrat', sans-serif;
  font-weight: 650;
  font-size: 30px;
  margin-top: 10%;
  width: 100%;
  height: 100%;
} 
button.popupjoin:hover { 
  background: #ffffff;
  color: #455e9e; 
  border-color: #ffffff;
}

input {
  font-size: 15px;
  display: block;
  border: none;
  border-bottom: 2px solid #8a0f27;
  width: 700px;
}

input:required:invalid {
  border:1px solid red;
}


ul, li {
  display: block;
  padding: 0% 15%;
  margin: 0;
}

.menu{
  margin-top: 0.3%;
  padding: 0% 15%;
  margin-bottom: 0.4%;
  }
.menu__item{
  padding: 0;
  background-color: white;
}
.menu__item a {
    display: inline-block;
    color: #8a0f27;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 650;
    font-size: 30px;
}
.menu a:after {
    display: block;
    content: "";
    background-color: #8a0f27;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    transition: width .3s ease-in-out;
    transform: translateX(-50%);
}
.menu a:hover:after,
.menu a:focus:after {
    width: 100%;
}

.block {
  text-align: center;
  margin-top: 1%;
}


.offer{
  background: url('../img/background1.png') no-repeat center top;
  margin-top: 0.3%;
}
.title{
  padding: 3% 5%;
}
.title__heading{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 650;
  font-size: 80px;
  line-height: 45pt;
}
.ldpr {
  color: #fdeb1a;
  font-weight: 750;
}
.eto {
  font-size: 80px;
  font-weight: 650;
}

.title__1 {
  margin-top: 2%;
  padding: 1% 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  color: white;
  font-size: 20px;
}

.title__2 {
  margin-top: 15%;
  padding: 1% 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  color: white;
  font-size: 10px;
}


button.join1 {
  margin-top: 0%;
} 
button.join2 {
  margin-top: 1%;
  margin-right: 4%;
  border: none;
} 


.line__block {
  margin-top: 7%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.guide {
  margin-top: 0%;
  background-color: #8a0f27;
  height: 290px;
}

.guide__next {
  margin-top: 3.1%;
  background-color: #8a0f27;
  height: 290px;
}

.photo {
  margin-top: 0%;
  transition: 1s;
}
.photo:hover {
  transform: scale(1.1);
}

.name {
  margin-top: 0%; 
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 650;
  color: white;
  font-size: 45px;
}

.preview {
  font-family: 'Montserrat', sans-serif;
  font-weight: 650;
  color: white;
  font-size: 15px;
}
.preview1 {
  margin-top: 0;
  font-family: 'Marck Script', cursive;
  font-weight: 550;
  color: white;
  font-size: 18px;
}
.date {
  font-family: 'Montserrat', sans-serif;
  font-weight: 650;
  color: white;
  font-size: 15px;
  margin-top: 2%;
  margin-bottom: 0;
  margin-right: 6%;
  text-align: right;
}
.social {
  margin-left: 5%;
}

button.more {
  margin-top: 1%;
  border-radius: 0px;
  padding: 0.5%;
  background: white;
  outline: none;
  position: relative;
  transition: .3s linear;
  font-family: 'Montserrat', sans-serif;
  font-weight: 750;
  font-size: 25px;
  border: none;
}
button.more:hover { 
  background: #8a0f27;
  color: #ffffff;
}

.adress{
  margin-top: 3%;
  margin-left: 2.5%;
}
.adress__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 650;
  font-size: 25px;
  color: #8a0f27;
  margin-top: 0%;
}

.footer {
  margin-top: 4%;
  background-color: #8a0f27;
  font-family: 'Montserrat', sans-serif;
  font-weight: 650;
  font-size: 25px;
  color: white;
}
.footer__logo {
  margin-top: 2%;
  font-family: 'Marck Script', cursive;
  color: white;
  font-weight: 400;
  margin-top: 1%;
  font-size: 45px;
}
.footer__info {
  margin-top: 2%;
}
.footer__info__email {
  font-size: 20px;
}
.footer__info__phone {
  margin-top: -2%;
}
.footer__info__phone__time {
  margin-left: 2%;
  font-size: 20px;
}
.footer__info__adress {
  margin-top: -2%;
  font-size: 15px;
}


.text__about {
  margin-top: 2%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 450;
  font-size: 16px;
  color: #455e9e; 
}

.banner {
  margin-top: 2%;
}

.action {
  margin-top: 0;
  background-color: #8a0f27;
  height: 262px;
  margin-bottom: 7%;

}

.scale {
  transition: 1s;
}
.scale:hover {
  transform: scale(1.2);
}

.galery {
  margin-top: 2.4%;
}

#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #8a0f27;
}

#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 2%;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: #8a0f27;
  display: block;
}

#myMenu li a:hover {
  background-color: #8a0f27;
  color: white;
}

.error {
  width: 100vw;
  height: 100vh;
  background-color: #8a0f27;
}

.error__content {
  margin-top: 10%;
}

.error__content__header {
  font-family: 'Montserrat' sans-serif;
  color: white;
  font-weight: 800;
  font-size: 50px;
}

.error__content__header__two {
  font-family: 'Montserrat' sans-serif;
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.error__content__button {
  margin-top: 5%;
  padding: 0;
  background-color: #8a0f27;
}
.error__content__button a {
  display: inline-block;
  color: white;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 650;
  font-size: 30px;
}
.error a:after {
  display: block;
  content: "";
  background-color: white;
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: width .3s ease-in-out;
  transform: translateX(-50%);
}
.error a:hover:after,
.error a:focus:after {
  width: 100%;
}

.name1 {
  margin-top: 0%; 
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 650;
  color: white;
  font-size: 75px;
}

.guide1 {
  margin-top: 0%;
  background-color: #8a0f27;
  height: 190px;
}

.story {
  font-family: 'Montserrat' sans-serif;
  color: #8a0f27;
  font-weight: 500;
  font-size: 15px;
}

.actors {
  margin-top: 3%;
}

.booking__item {
  margin-top: 5%;
  padding: 0;
  background-color: white;
  text-align: right;
}
.booking__item a {
  display: inline-block;
  color: #8a0f27;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 650;
  font-size: 30px;
}
.booking a:after {
  display: block;
  content: "";
  background-color: #8a0f27;
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: width .3s ease-in-out;
  transform: translateX(-50%);
}
.booking a:hover:after,
.booking a:focus:after {
  width: 100%;
}

.back {
  margin-top: 1%;
  margin-left: 3%;
  font-size: 15px;
  font-weight: 600;
}

.booking__error {
  color: white;
}

.pay__item {
  margin-top: 5%;
  padding: 0;
  background-color: white;
}
.pay__item a {
  display: inline-block;
  color: #8a0f27;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 650;
  font-size: 30px;
}
.pay a:after {
  display: block;
  content: "";
  background-color: #8a0f27;
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: width .3s ease-in-out;
  transform: translateX(-50%);
}
.pay a:hover:after,
.pay a:focus:after {
  width: 100%;
}
.map {
	width: 1230px;
	height: 495px;
}






@media screen and (max-width: 1024px) {
	.phone-n-time {
  		font-family: 'Montserrat', sans-serif;
  		font-size: 10px;
  		font-weight: 650;
  		color: white;
  		margin-top: 4%;
  		margin-bottom: 2%;
	}

	.phone-n-time1 {
  		font-family: 'Montserrat', sans-serif;
  		font-size: 10px;
  		font-weight: 650;
  		color: white;
  		margin-top: 0%;
  		margin-bottom: 2%;
	}

	.clockpng {
		width: 12px;
		height: 12px;
	}

	.menu__item a {
    	display: inline-block;
    	color: #8a0f27;
    	line-height: 1;
    	text-decoration: none;
    	cursor: pointer;
   	 	position: relative;
    	text-decoration: none;
    	font-family: 'Montserrat', sans-serif;
    	font-weight: 650;
    	font-size: 20px;
    }

    .logo2 {
  		font-family: 'Marck Script', cursive;
  		color: white;
  		font-weight: 400;
  		text-align: center;
  		margin-top: 1%;
  		font-size: 30px;
	}

	.title__1 {
 	 	margin-top: 2%;
  		padding: 1% 5%;
  		font-family: 'Montserrat', sans-serif;
  		font-weight: 550;
  		color: white;
  		font-size: 15px;
	}

	.promoaction {
		width: 297px;
		height: 324px;
	}

	.photo {
  		margin-top: 0%;
  		transition: 1s;
  		width: 339px;
		height: 226px;
	}

	.name {
  		margin-top: 0%; 
  		margin-bottom: 0;
  		font-family: 'Montserrat', sans-serif;
  		font-weight: 650;
  		color: white;
  		font-size: 35px;
	}

	.preview {
  		font-family: 'Montserrat', sans-serif;
  		font-weight: 650;
  		color: white;
  		font-size: 15px;
	}
	.preview1 {
  		margin-top: 0;
  		font-family: 'Marck Script', cursive;
  		font-weight: 550;
  		color: white;
  		font-size: 13px;
  	}

  	button.more {
  		margin-top: 1%;
  		border-radius: 0px;
  		padding: 0.5%;
  		background: white;
  		outline: none;
  		position: relative;
  		transition: .3s linear;
  		font-family: 'Montserrat', sans-serif;
  		font-weight: 750;
  		font-size: 15px;
  		border: none;
	}

	.adress__text {
  		font-family: 'Montserrat', sans-serif;
  		font-weight: 650;
  		font-size: 15px;
  		color: #8a0f27;
  		margin-top: 0%;
	}

	.map {
		width: 946px;
		height: 334px;
	}

	.footer__logo {
  		margin-top: 2%;
  		font-family: 'Marck Script', cursive;
  		color: white;
  		font-weight: 400;
  		margin-top: 1%;
  		font-size: 35px;
	}
	.footer__info {
  		margin-top: 2%;
  		font-size: 20px;
	}
	.footer__info__email {
  		font-size: 15px;
	}
	.footer__info__phone {
  		margin-top: -2%;
  		font-size: 20px;
	}
	.footer__info__phone__time {
  		margin-left: 2%;
  		font-size: 15px;
	}
	.footer__info__adress {
  		margin-top: -2%;
  		font-size: 10px;
	}

	.social {
  		margin-left: 5%;
  		height: 30px; 
  		width: 30px;
	}
}